:root {
    --red1: #FFEDEB;
    --red2: #eb4b36;
    --red3: #a21d1d;
    --green1: #D6F4E8;
    --green2: #7DD6B0;
    --grey1: #eee;
    --grey2: #EAEDF1;
    --grey3: #f2f2f2;
    --white: #fff;
    --black1: rgba(0,0,0,0.1);
    --blue1: #428BCA;
    --blue2: #007bff;
    --darkgrey1: #343a40;
}