html, body {
    margin: 0;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px;
    background-color: var(--grey2);

    .library-name {
        display: flex;
        justify-content: center;
        align-items: center;

        .book-icon {
            background-color: #fff;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 12px;

            i {
                font-size: 12px;
                color: var(--grey2);
            }
        }
    }

    
}

.sidebar {
    width: 250px;
    background-color: var(--darkgrey1);
    color: var(--white);
    display: flex;
    flex-direction: column;
    height:100%;

    .sidebar-menu {
        list-style-type: none;
        padding: 0;

        li {
            padding: 15px 20px;

            &:hover {
                background-color: var(--blue2);
            }

            a {
                color: var(--white);
                text-decoration: none;
            }
        }
    }
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    display: grid;
    grid: min-content 1fr / minmax(250px, 2fr) minmax(250px, 100%);

    .dashboard-container {
        height: 100vh;
        overflow-y: auto;
        padding: 24px;
    }
}
